/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; /*overflow:hidden;*/}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:url(../img/overlay.png) center center repeat;}
#colorbox{outline:0;}
    #cboxTopLeft{width:0; height:0;}
    #cboxTopRight{width:0; height:0;}
    #cboxBottomLeft{width:0; height:0;}
    #cboxBottomRight{width:0; height:0;}
    #cboxMiddleLeft{width:0;}
    #cboxMiddleRight{width:0;}
    #cboxTopCenter{height:0;}
    #cboxBottomCenter{height:0;}
    #cboxContent{background:#fff;overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin:60px 0 20px;overflow:hidden !important;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../img/loader.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loader.png) no-repeat center center;}

        #cboxClose{position:absolute; top:16px; right:12px; background:url(../img/btn-close.png) right 4px no-repeat;padding-right:16px;font-family:'citroen_bold';font-size:10px;color:#404040;text-transform:uppercase;border:none;}