@CHARSET "UTF-8";
.account{
	text-align: center;
}

.account input{
	height: 30px;
	font-size: 15px;
	width: 284px;
	margin: 5px auto;
	padding: 0 8px;
	display:block;
}

[type="checkbox"]{
	height: initial !important;
	width: initial !important;
	display: initial !important;
}

.account input:disabled{
	display:block;
}

.account button {
	display: block;
	height: 30px;
	width: 304px;
	margin: 5px auto;
}

.input-Error {
	border-color: red;
	border-style: double;
	outline: initial;
}

.gwt-Label-Error{
	color: red;
}