@CHARSET "UTF-8";
.account form{
	margin: 5px auto;
}

.account h2{
	text-align: center;
}

.account input{
	height: 30px;
	font-size: 15px;
	width: 284px;
	margin: 5px auto;
	padding: 0 8px;
	display:block;
}

[type="checkbox"]{
	height: initial !important;
	width: initial !important;
	display: initial !important;
	margin: 5px !important;
}

.account .gwt-CheckBox{
	display: block;
	width: 310px;
	margin: auto;
}

.account input:disabled{
	display:block;
}

.account button {
	display: block;
	height: 30px;
	width: 304px;
	margin: 5px auto;
}

.account button::after {
	content: .panelHelp;
}
 

.input-Error {
	border-color: red;
	border-style: double;
	outline: initial;
}

input.input-Error:focus {
	outline: none;
}

.gwt-Label-Error{
	text-align: center;
	color: red;
	margin-bottom: 3px;
}

.account .help-DataLayer{
	width: 20px;
	height: 20px;
	padding: 0px;
	border: 0px;
	background: none;
	margin-left: 0px!important;
}

.panelHelp {
	float: right;
}

.account button.help-DataLayer:hover{
	background-color: transparent;
	box-shadow: 0 0px 0px;
}

.help-DataLayer{
	outline: none;
}

.help-DataLayer img{
	width: inherit;
	height: inherit;
}