@CHARSET "UTF-8";
*:focus{
	outline-color: dodgerblue;
	outline-style: auto;
}

.appContainer  {
}

.appContainer input, select{
	outline:none;
}

.appContainer input:hover, select:hover{
	outline-color: rgba(200, 200, 200, 0.5);
	outline-style: auto;
}

.appContainer input:focus, select:focus {
	outline-color: dodgerblue;
	outline-style: auto;
}

.main{
	margin-top: 15px;
}

.wrapper{
	
}

.content{
	min-width: 1000px;
	max-width: 1000px;
	margin: auto;
}

.gwt-Grid td{
	vertical-align: top;
}

.gwt-Popup-Aside{
	background-color: buttonface;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 3px;
}

.gwt-Popup-Aside pre,code,div,td,tr,tbody,table{
	outline: none;
}

.gwt-Button{
	color: buttontext;
	font: -webkit-small-control;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	align-items: flex-start;
	text-align: center;
	background-color: buttonface;
	box-sizing: border-box;
	margin:0;padding:5px 7px;text-decoration:none;cursor:pointer;font-size:small;border:1px solid #bbb;border-bottom:1px solid #a0a0a0;border-radius:3px;-moz-border-radius:3px;}
.gwt-Button:active{border:1px inset #ccc;}
.gwt-Button:hover{border-color:#939393;}
.gwt-Button:focus{
	border-color: dodgerblue;
	outline: medium none;
}
.gwt-Button[disabled]{cursor:default;color:#888;}
.gwt-Button[disabled]:hover{border:1px outset #ccc;}
.gwt-Anchor{text-decoration: none;}
html{height:100%}
body{height:100%;margin:0px}
a{
	text-decoration: none;
	color:#777;
	margin-right: 10px;
}

button.gwt-Button{
	-moz-user-select: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	color: rgb(100, 100, 100);
	padding: 0 8px;
	text-align: center;
}

button.gwt-Button:hover{
	background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border-color: #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

button.gwt-Button:focus{
    border-color: #4D90FE;
    outline: medium none;
}

a:hover{
	color: blue;
}