@CHARSET "UTF-8";
@sprite .logoPeugeotSprite{
	gwt-image: "logoPeugeot";
}

@sprite .logoCitroenSprite{
	gwt-image: "logoCitroen";
}

@sprite .logoDsSprite{
	gwt-image: "logoDs";
}

.flagFrSprite{
	width: 50px;
	height: 25px;
	cursor:pointer;
}

.flagEnSprite{
	width: 35px;
	height: 25px;
	cursor:pointer;
}

.gwt-FlagView  {
	text-align: right;
	min-width: 980px;
}

.gwt-HeaderView  {
	text-align: center;
	min-width: 980px;
}

.gwt-HeaderView h1 {
  font-size: 4em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  display: inline;
}

.gwt-Content  {
	margin-left: 120px;
	margin-right: 120px;
	min-width: 980px;
}

.gwt-SignStep input{
	min-width: 200px;
}

.gwt-SignStep-Title h3{
	display: inline;
	margin-right: 300px;
}

body{margin:0px}
.gwt-Button{
	color: buttontext;
	font: -webkit-small-control;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	align-items: flex-start;
	text-align: center;
	background-color: buttonface;
	box-sizing: border-box;
	margin:0;padding:5px 7px;text-decoration:none;cursor:pointer;font-size:small;border:1px solid #bbb;border-bottom:1px solid #a0a0a0;border-radius:3px;-moz-border-radius:3px;}
.gwt-Button:active{border:1px inset #ccc;}
.gwt-Button:hover{border-color:#939393;}
.gwt-Button[disabled]{cursor:default;color:#888;}
.gwt-Button[disabled]:hover{border:1px outset #ccc;}
.gwt-Anchor{text-decoration: none;}
a{text-decoration: none;}