@CHARSET "UTF-8";
@sprite .logoPeugeotSprite{
	gwt-image: "logoPeugeot";
}

@sprite .logoCitroenSprite{
	gwt-image: "logoCitroen";
}

@sprite .logoDsSprite{
	gwt-image: "logoDs";
}

.banner .content  {
	width: 100%;
	text-align: center;
}

.banner .cell.left{
	float: left;
}

.banner .cell.right{
	float: right;
}

.banner .cell{
	height: 65px;
	line-height: 100px;
	vertical-align: middle;
}

.banner h1 {
  font-size: 3.5em;
  font-weight: bold;
  color: #777777;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}
