@CHARSET "UTF-8";
.header.wrapper{
	background: beige;
	border-bottom: 1px solid rgba(230, 230, 230, 0.8);
}

.header  {
	height:26px;
}

.header .content{
	height: inherit;
}

.header .content .langChooser {
	float: right;
	height: 22px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.header .content .logo {
	vertical-align: middle;
}

/* Suggest Box */
.gwt-SuggestBox{
	margin: 2px;
}

.header .content .gwt-SuggestBox{
	float: right;
	padding: 1px 4px;
}

@-moz-document url-prefix() {
    .flag-content .gwt-SuggestBox{
        padding: 2px 4px;
    }
}

input.gwt-SuggestBox {
	width: 149px;
	-webkit-transition: width 1s;
	transition: width 1s;
}

.header .content .gwt-SuggestBox:focus{
	width: 600px;
	-webkit-transition: width 1s;
	transition: width 1s;
}

.gwt-SuggestBoxPopup *{
	padding: 0px;
	border-spacing: 0px;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
  width: 150px;
  background-color: white;
}

.gwt-SuggestBoxPopup table{
	outline-style: auto;
	width: 153px;
}

.gwt-SuggestBoxPopup .item{
	padding-left: 2px;
	padding-right: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
  background: #D5E2FF;
}

.gwt-Popup-Aside *:focus{
	outline: none;
}