@CHARSET "UTF-8";
.createAccountMail{
	text-align: center;
}

.createAccountMail input{
	height: 30px;
	font-size: 15px;
	width: 284px;
	margin: 5px auto;
	padding: 0 8px;
}

.createAccountMail button {
	display: block;
	height: 30px;
	width: 304px;
	margin: 5px auto;
}