@CHARSET "UTF-8";
.disclaimer.wrapper{
	background: #4c88a1;
	color: beige;
	border-bottom: 1px solid rgba(230, 230, 230, 0.8);
}

.disclaimer .content{
	max-width: 980px;
	height: 30px;
	margin: auto;
}

.disclaimer.wrapper .gwt-Label, .gwt-Anchor{
	display: inline;
	vertical-align: sub;
}

.disclaimer.wrapper .gwt-Anchor{
	color: rgba(255,255,255,.8);
}

.disclaimer.wrapper .gwt-Anchor:hover{
	color: black;
}

.disclaimer.wrapper .gwt-Button{
	float: right;
	margin-top: 3px;
}

.disclaimer .content button.gwt-Button{
	padding: 3px 5px;
}
