@CHARSET "UTF-8";
.disclaimer.wrapper{
	background: #4c88a1;
	color: beige;
	border-bottom: 1px solid rgba(230, 230, 230, 0.8);
}

.disclaimer .content{
	display: table;
	width: 100%;
}

.disclaimer .right{
	display: table-cell;
	text-align: right;
}

.disclaimer .left{
	display: table-cell;
}

.disclaimer.wrapper .gwt-Label, .gwt-Anchor{
	display: inline;
}

.disclaimer.wrapper .gwt-Anchor{
	color: rgba(255,255,255,.8);
}

.disclaimer.wrapper .gwt-Anchor:hover{
	color: black;
}

.disclaimer.wrapper .gwt-Button{
	margin: 3px 0px;
}

.disclaimer .content button.gwt-Button{
	padding: 3px 5px;
}
